body {
        background-color: coral;
	color: green;
 {

h1 { 
        font-family: "Times New Roman", Times, serif;
        color: purple;
 }
h2 {
        font-family: sans-serif;
        color: yellow;
 }

 p { 
        background-color: blue;
        font-family: calibri;
	color: pink;
 }
