body {
        background-color: grey;
 {

h1 { 
        font-family: arial;
        color: yellow;
 }
h2 {
        font-family: comic-sans;
        color: blue;
 }

 p { 
        background-color: purple;
        font-family: calibri;
	color: pink
 }
